{% extends "base.html" %}

{% block content %}
    {% if next %}
        <div class="login-container login-next-error">
            <div class="loginbox">
                {% if user.is_authenticated %}
                    <p class="login-error">Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p class="login-error">Please login to see this page.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="login-container">
        <div class="loginbox">
            <div class="loginbox-title">SIGN IN</div>
            {% if form.errors %}
                <p class="login-error">Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% if next %}
            <form method="post" action="{% url 'login' %}?next={{ next }}">
            {% else %}
            <form method="post" action="{% url 'login' %}">
            {% endif%}
                {% csrf_token %}
                <div class="loginbox-textbox">
                    {{ form.username }}
                </div>
                <div class="loginbox-textbox">
                    {{ form.password }}
                </div>
                <div class="loginbox-submit">
                    <input type="submit" class="btn btn-success btn-block green" value="Login">
                </div>
            </form>
            <div class="loginbox-signup">
                <a href="{% url 'register' %}">No account? Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}
