{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="boxed  push-down-20">
		<div class="meta">
			<div class="meta__container--without-image" style="padding: 0 20px">
				<div class="row">
					<div class="col-xs-12  col-sm-8">
						<div class="meta__info">
							<span class="meta__author">
								<img src="https://user-profile.s3.envato.com/files/50627171/avatar%20small.png" alt="Meta avatar" width="30" height="30"> <a href="#">{{ object.author.username }}</a> in <a href="#">{{ object.category }}</a> 
							</span>
						</div>
					</div>
					<div class="col-xs-12  col-sm-4">
						<span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; {{ article.published|date }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10  col-xs-offset-1  col-md-8  col-md-offset-2  push-down-60">
				<div class="post-content">
					<h1>
						<a href="#">{{ article.title }}</a>
					</h1>
					{{ article.content|safe }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Comments</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="comment-box no-padding blank">
				<div class="comment-upload">
					<form action="{% url 'news:comment' object.slug %}" method="post">
						{% csrf_token %}
						{{ form.text }}
						<input type="submit" value="Submit" class="btn btn-success green">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	{% for comment in comments %}
		<div>
			<b>{{ comment.author }}</b> {{ comment.text }} <em>{{ comment.published }} </em>
		</div>
	{% endfor %}
</div>
{% endblock %}
