{% extends 'base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<p><b>Author</b>: {{ object.author.username }}</p>
<p>{{ object.published }}</p>
<p>{{ object.content | safe }}</p>
<div>
	<form action="{% url 'news:comment' object.slug %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="OK">
	</form>
</div>
<div>
	{% for comment in comments %}
		{% if comment.status == 'APP' or comment.author == user or user.is_staff %}
			<div style="color:{% if comment.author == user and comment.status == "NEW" %}{{ "grey" }}{% endif %}">
				<b>{{ comment.author }}</b> {{ comment.text }} <em>{{ comment.published }} </em>{% if comment.status == "REJ" %}<font color="red">{%if comment.reviewer_comment %}{{ comment.reviewer_comment }}{% else %}{{ "Deleted" }}{% endif %}</font>{% endif %}
				{% if request.user.is_staff %}
					<div>
						<br/><b>Comment review</b><br/>
							<form action="/reviewcomment/{{ comment.id }}/" method="post">
								{% csrf_token %}
								<select name="status" required>
									<option disabled style="display:none;" {% if comment.status == "NEW" %} {{ "selected" }} {% endif %}>Pending</option>
									<option value="APP" {% if comment.status == "APP" %} {{ "selected" }} {% endif %}>Approved</option>
									<option value="REJ" {% if comment.status == "REJ" %} {{ "selected" }} {% endif %}>Rejected</option>
								</select>
								<input type="text" name="reviewer_comment" value="{% if comment.reviewer_comment %}{{ comment.reviewer_comment }}{% endif %}">
								<input type="submit" value="OK">
							</form>
						</div>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}