{% extends 'base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<p><b>Author</b>: {{ object.author.username }}</p>
<p>{{ object.published }}</p>
<p>{{ object.content | safe }}</p>
<div>
	<form action="{% url 'news:comment' object.slug %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="OK">
	</form>
</div>
<div>
	{% for comment in comments %}
		<div>
			<b>{{ comment.text }}</b> <em>{{ comment.published }} </em>
		</div>
	{% endfor %}
</div>
{% endblock %}