{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'news/sidebar.html' with categories=categories %}
            <div class="col-xs-12 col-md-8 col-md-pull-4">
                {% for article in object_list %}
                    {% include 'news/article_list_item.html' with article=article %}
                {% empty %}
                    <li>No articles yet.</li>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
