<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div style="border-top: 1px solid #e4e4e4"></div>
                <h3 style="">Comments</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="comment-box no-padding blank">
                    <div class="comment-upload">
                        <form action="{% url 'news:comment' object.slug %}" method="post">
                            {% csrf_token %}
                            {{ form.text }}
                            <input type="submit" value="Submit" class="btn btn-success green">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul class="comment-list">
                {% for comment in comments %}
                    {% if comment.status == 'APP' or comment.author == user or user.is_staff %}
                        <li>
                            <div class="comment-box no-padding blank">
                                <div class="comment-upload">
                                    <div class="comment-head">
                                        <h6>{{ comment.author }}</h6>
                                        <span>{{ comment.published }}</span>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-text">
                                            {{ comment.text }}
                                            {% if comment.status == 'REJ' %}
                                                <div class="comment-rejected">
                                                    {% if comment.author == user %}
                                                        Your
                                                    {% else %}
                                                        This
                                                    {% endif %}
                                                    comment has been rejected. Reason: {{ comment.reviewer_comment }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_staff %}
                                <div>
                                    <b>Comment review</b><br/>
                                    <form action="/reviewcomment/{{ comment.id }}/" method="post">
                                        {% csrf_token %}
                                        <select name="status" required>
                                            <option disabled style="display:none;" {% if comment.status == "NEW" %}
                                                {{ "selected" }} {% endif %}>Pending
                                            </option>
                                            <option value="APP" {% if comment.status == "APP" %}
                                                {{ "selected" }} {% endif %}>Approved
                                            </option>
                                            <option value="REJ" {% if comment.status == "REJ" %}
                                                {{ "selected" }} {% endif %}>Rejected
                                            </option>
                                        </select>
                                        <input type="text" name="reviewer_comment" {% if not comment.reviewer_comment %}
                                               style="display: none" {% endif %}value="

                                                {% if comment.reviewer_comment %}{{ comment.reviewer_comment }}{% endif %}">
                                        <input type="submit" value="OK">
                                    </form>
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <script>
                $('select[name="status"]').on('change', function (e) {
                    $input = $(this).siblings('input[name="reviewer_comment"]');
                    if (e.target.value === 'REJ') $input.fadeIn();
                    else $input.fadeOut();
                });
            </script>
        </div>
    </div>
</div>
