{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'category/sidebar.html' with categories=categories %}
            <div class="col-xs-12 col-md-8 col-md-pull-4">
                {% for article in object_list %}
                    {% include 'article/article_list_item.html' with article=article %}
                {% empty %}
                    <div class="boxed no-articles-yet">
                        No articles yet
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
